<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card" style="width: 18rem;">
    <div class="tenor-gif-embed" data-postid="24413692" data-share-method="host" data-aspect-ratio="1.30081" data-width="100%"><a href="https://tenor.com/view/fnaf-walter-walter-white-walter-white-fnaf-breaking-bad-gif-24413692">Fnaf Walter GIF</a>from <a href="https://tenor.com/search/fnaf-gifs">Fnaf GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>            <div class="card-body">
    <h5 class="card-title">Мои заказы</h5>
    <p class="card-text">Просмотр своих заказов</p>
    <a href="/employee/orders" class="btn btn-primary">Просмотреть мои заказы</a>
</div>
</div>
</body>
</html>